@media (max-width: 1300px) {
  .hd .ham {
    display: block;
    right: 0;
    z-index: 30;
    flex: 0.2;
  }
  .hd .ham:hover {
    animation: name duration timing-function delay iteration-count direction
      fill-mode;
    animation: hamscale 1s infinite alternate ease-in-out;
  }
  @keyframes hamscale {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  .hd h1 {
    flex: 4;
  }

  .hd .gnb {
    position: fixed;
    background-color: var(--color-m-yl);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding-top: 90px;

    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }

  .hd .gnb > li {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.8);
    text-align: center;
    position: relative;
  }

  .hd .gnb > li > a {
    display: block;
    padding: 1rem 2rem;
    color: var(--color-m-bb);
    font-family: var(--font-gth);
    font-size: 1rem;
    font-weight: bold;
  }
  .hd .gnb > li:nth-of-type(2) > a::after {
    color: var(--color-m-bb);
  }

  .hd .sub_gnb {
    background-color: #ffd363;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s;
  }

  .hd .sub_gnb a {
    display: block;
    color: var(--color-m-bb);
    font-size: 1em;
    padding: 1rem 2rem;
  }

  .hd .sns_list {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;
    display: flex;
    gap: 0.6rem;

    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }

  .hd .sns_list a {
    background-color: var(--color-m-bb);
    width: 45px;
    height: 45px;
    color: var(--color-wh);
    text-align: center;
    line-height: 45px;
  }
  .hd .sns_list a:hover {
    background-color: var(--color-wh);
    color: var(--color-m-bb);
  }

  .hd .sns_list.on,
  .hd .gnb.on {
    visibility: visible;
    opacity: 1;
  }

  .hd .gnb > li.on .sub_gnb {
    overflow: visible;
    max-height: 1000px;
    opacity: 1;
  }

  /* main > .main_visual */
  .main_visual .main_visual_wrap {
    padding: 150px 0 115px 0;
  }

  .main_visual .mv_left {
    padding: 30% 45% 150px 0;
    position: relative;
    text-align: right;
  }
  .main_visual .mv_left h2 {
    position: absolute;
    width: 100%;
    padding-inline: 3rem;
    top: 0;
    text-align: center;
  }

  .main_visual .mv_left a {
    display: block;
    padding: 0.5rem 0;
    margin: 1.5rem 0;
  }
  .main_visual .yellow_btn {
    margin: 0;
  }

  .main_visual .main_visual_wrap::before {
    margin-top: 110px;
    right: 0;
    width: 40%;
    background-position: right;
  }

  /* book_info 부분*/
  .book_info {
    display: block;
    padding-top: 0;
  }
  .book_info > li::before {
    position: static;
  }
  .book_info > li > span:first-of-type {
    display: inline-block;
  }

  /* main > .book_main_info */
  .book_main_info {
    padding: 100px 0;
  }
  .book_main_info .book_list {
    padding-top: 2rem;
    display: block;
  }
  .book_main_info .book_list > li {
    width: 70%;
    margin: 0.6rem auto;
    text-align: center;

    padding: 400px 1rem 40px;
    margin-bottom: 60px;
    background-color: var(--color-m-wb);
    border-radius: 1rem;
  }

  .book_main_info .book_list > li:first-of-type::before,
  .book_main_info .book_list > li:last-of-type::before {
    /* border: 1px solid; */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    height: 320px;
    background-position: center left;
    margin: 2.1rem 0;
  }
  .book_main_info .book_info {
    display: block;
  }
  .book_main_info .book_info > li > span:first-of-type {
    display: inline;
  }
  .book_main_info .book_list > li > ul {
    padding: 1rem 0;
  }

  /* main > .author */
  .author {
    padding: 90px 0;
  }
  .author .author_wrap {
    padding: 40px 0 40px 530px;
  }
  .author .author_wrap::before,
  .author .author_wrap::after {
    width: 450px;
    height: 532px;
    background-position: 0 -100px;
  }
  .author .author_wrap .content_wh {
    padding: 2.4rem 0 1.1rem;
  }
  .author .authoraddress {
    width: 460px;
    gap: 1rem;
  }

  /* main > .trusted */
  .trusted {
    padding: 90px 0;
  }
  .trusted .tr_list {
    gap: 2.1rem;
  }

  /* main > .callout */
  .callout .callout_wrap {
    padding: 2.1rem 550px 2.1rem 0;
  }
  .callout .callout_wrap::before {
    height: 85%;
  }

  /* main > .learn */
  .learn {
    padding: 90px 0;
  }
  .learn .learn_wrap::before,
  .learn .learn_wrap::after {
    width: 40%;
    height: 532px;
  }

  .learn .learn_list {
    width: calc(55% - 0.5rem);
    padding: 4.3rem 0 3rem;
    gap: 0.6rem;
  }
  .learn .learn_list li {
    width: calc((100% / 2) - 0.3rem);
    padding: 0.5rem 0.6rem;
  }
  .learn .learn_list li > p {
    padding-top: 1.6rem;
  }

  /* main > .chapter */
  .chapter {
    background-color: var(--color-bgc);
    padding: 90px 0;
  }
  .chapter .chapter_list {
    gap: 0.8rem;
  }
  .chapter .chapter_list > li {
    width: calc((100% / 2) - 0.4rem);
    padding: 2rem 2.3rem;
  }
  .chapter .book_info_snd {
    display: block;
  }

  /* main > .testimonial */
  .testimonial {
    padding: 90px 0;
  }
  .testimonial .testi_wrap {
    display: flex;
    gap: 2.1rem;
  }
  .testimonial .sub_title {
    width: 100%;
  }
  .testimonial .readers_list {
    gap: 1.2rem;
  }
  .testimonial .readers_list > li {
    width: calc(50% - 0.6rem);
  }

  /* main > .articles */
  .articles {
    padding: 90px 0;
  }
  .articleSlide .arti_card figcaption > span {
    display: block;
    padding-left: 0;
    padding-top: 1.1rem;
  }
  .articleSlide .arti_card .imgs {
    height: 25vw;
    position: relative;
  }
  .articleSlide .arti_card figcaption {
    padding: 1.1rem;
  }
  .articleSlide .arti_card figcaption > .content_wh {
    padding: 0.5rem 0 0.7rem;
  }

  /* main > .subsc */
  .subsc {
    padding: 90px 0;
  }
  .subsc_warp {
    padding: 100px;
  }

  /* footer*/
  .ft_wrap {
    gap: 0.6rem;
  }
  .ft_wrap .foot_left {
    margin-right: 0;
  }
  .foot .contact p:nth-of-type(n + 2) > span:first-of-type {
    letter-spacing: 0;
  }
}

@media (max-width: 1000px) {
  /* main > .main_visual */
  .main_visual .main_visual_wrap {
    padding: 150px 0 115px 0;
  }

  .main_visual .mv_left {
    padding: 220px 45% 100px 0;
  }

  .main_visual .yellow_btn {
    margin: 0;
  }

  .main_visual .main_visual_wrap::before {
    margin-top: 80px;
    right: 0;
    min-width: 300px;
    width: 40%;
    height: 75%;
  }

  /* main > .author */
  .author .author_wrap {
    padding: 40px 0 0 350px;
  }
  .author .author_wrap::before,
  .author .author_wrap::after {
    width: 300px;
    height: 400px;
    background-position: 0 -40px;
    margin-top: 5rem;
  }
  .author .author_wrap::after {
    left: 20px;
  }
  .author .author_wrap.on::after {
    top: 20px;
  }

  .author .authoraddress {
    max-width: 450px;
    height: 150px;
    margin-top: 60px;
    /* transform: translateX(-50%); */
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .author .authoraddress img {
    width: 100px;
  }
  .author .author_counter > li:nth-of-type(n + 2) {
    padding-inline: 1rem;
  }
  /* main > .trusted */
  .trusted {
    padding: 90px 0;
  }
  .trusted .tr_list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .trusted .tr_list > li {
    width: calc(100% / 2 - 2.1rem);
  }

  /* main > .callout */
  .callout .callout_wrap {
    padding: 0 330px 0 0;
  }
  .callout .callout_wrap::before {
    height: 80%;
  }
  .callout .callout_wrap .content_bl {
    padding: 2rem 0 1.1rem;
  }

  /* main > .learn */
  .learn {
    padding: 90px 0;
  }
  .learn .learn_wrap::before,
  .learn .learn_wrap::after {
    display: none;
  }
  .learn .learn_list {
    width: auto;
    padding: 50px 0 0;
    gap: 1rem;
    justify-content: space-between;
  }
  .learn .learn_list li {
    width: calc((100% / 2) - 0.5rem);
    padding: 1.1rem 1.2rem;
  }
  .learn .learn_list li > p {
    padding-top: 1rem;
  }

  /* main > .chapter */
  .chapter {
    padding: 90px 0;
  }
  .chapter .chapter_list {
    gap: 1.1rem;
    padding: 50px 0;
  }
  .chapter .chapter_list > li {
    width: calc((100% / 2) - 0.6rem);
    padding: 1.3rem;
  }
  .chapter .chapter_list .content_wh {
    padding: 1rem 0;
  }
  .chapter .chapter_wrap > p {
    width: 300px;
    padding-top: 1.4rem;
  }

  /* main > .testimonial */
  .testimonial .testi_wrap {
    display: block;
    text-align: center;
  }
  .testimonial .testi_wrap .testi_left {
    width: auto;
  }
  .testimonial .sub_title::before {
    left: 50%;
    transform: translateX(-50%);
  }
  .testimonial .content_wh {
    padding: 2rem 0 1rem;
  }
  .testimonial .readers_list {
    padding-top: 1rem;
    flex-direction: row;
    gap: 10px;
  }
  .testimonial .readers_list > li {
    padding: 13px 10px;
  }
  .testimonial .readers_list > li:nth-of-type(3) {
    top: auto;
    transform: none;
    position: relative;
  }
  .testimonial .readers_list > li > span {
    padding-top: 1.5rem;
  }
  .testimonial .readers_list > li em {
    padding-block: 0.5rem;
  }

  /* main > .articles */
  .articles .articles_wrap h2 {
    margin-bottom: 2.7rem;
  }
  .articleSlide .arti_card .imgs {
    height: 40vw;
  }

  /* main > .subsc */
  .subsc {
    padding: 0;
  }
  .subsc_warp {
    max-width: auto;
    width: 100%;
    margin: 0;
    padding: 50px 20px;
  }
  .subsc_warp > p {
    padding: 30px 20px;
  }

  /* footer*/
  .foot {
    padding-block: 2.1rem;
  }
  .ft_wrap {
    gap: 1rem;
    flex-wrap: wrap;
  }
  .ft_wrap .foot_left {
    width: 100%;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
  }
  .foot .ft_sns_list {
    padding-top: 0;
  }
  .foot .contact {
    width: auto;
    flex: 1;
  }
}
@media (max-width: 800px) {
  :root {
    font-size: 17px;
  }
  .main_visual .main_visual_wrap {
    padding: 150px 0 80px 0;
  }
  .main_visual .mv_left {
    padding: 0 0 150px;
    text-align: left;
  }
  .main_visual .mv_left h2 {
    /* border: 1px solid; */
    position: static;
    padding: 0 1rem 1rem;
  }
  .main_visual .mv_left a {
    margin: 2.5rem 0;
  }
  .main_visual .main_visual_wrap::before {
    background-position: 0 70%;
    min-width: 230px;
    width: 48%;
  }
  .book_main_info {
    padding: 100px 0 50px;
  }
  .book_main_info .book_list > li {
    width: 80%;
  }

  .author .author_wrap {
    padding: 430px 2rem 0;
  }
  .author .author_wrap::before,
  .author .author_wrap::after {
    width: 85%;
    height: 40%;
    margin-top: auto;
  }
  .author .author_wrap::before {
    left: 50%;
    transform: translateX(-52%);
    background-position: 0 -170px;
  }
  .author .author_wrap::after,
  .author .author_wrap.on::after {
    left: calc(50%);
    transform: translateX(-48%);
  }
  .author .sub_title {
    text-align: center;
  }
  .author .sub_title::before {
    left: 50%;
    transform: translateX(-50%);
  }
  .author .author_wrap .content_wh {
    padding: 2.5rem 0 2rem;
  }

  .author .author_counter > li {
    text-align: center;
    width: calc(100% / 3);
  }
  .author .authoraddress {
    gap: 1.5rem;
    min-height: 95%;
    left: 50%;
    translate: -50% 0;
    padding-inline: 0.5rem;
  }
  .testimonial {
    padding: 50px 0;
  }

  .testimonial .readers_list {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .testimonial .readers_list > li {
    width: 70%;
    margin-bottom: 15px;
    padding: 10px 10px 30px;
  }
  .testimonial .readers_list > li:nth-of-type(3) {
    position: relative;
    width: 70%;
  }
  .testimonial .readers_list > li::before {
    width: 5rem;
    height: 5rem;
    left: 19%;
  }
  .testimonial .readers_list > li > span,
  .testimonial .readers_list > li > .score {
    text-align: center;
  }
  .testimonial .readers_list > li > span {
    padding-top: 2rem;
  }
  .testimonial .readers_list > li > .score {
    padding-bottom: 1rem;
  }
  .articles {
    padding: 50px 0;
  }
}
@media (max-width: 500px) {
  .sub_title {
    font-size: 2rem;
  }
  .yellow_btn {
    padding: 13px 20px;
  }
  .wh_btn {
    padding: 15px 30px;
  }
  .book_info > li > span:first-of-type {
    font-size: 1.1rem;
  }
  /* book_info 부분*/
  .book_info > li::before {
    position: absolute;
  }

  .main_visual .mv_left {
    padding: 0;
  }
  .main_visual .mv_left h2 {
    padding: 0;
  }
  .main_visual .main_visual_wrap::before {
    background-position: 0 75%;
    min-width: auto;
    width: 55%;
  }
  .main_visual h2 {
    text-align: center;
  }
  .main_visual h2 > strong {
    font-size: 3rem;
    line-height: 3.5rem;
    display: block;
  }
  .main_visual .book_info span {
    display: block;
  }
  .main_visual .yellow_btn {
    padding: 13px 20px;
  }

  .book_main_info .book_list > li {
    width: 100%;
    padding: 360px 1rem 4.5rem;
    margin-bottom: 60px;
    background-color: var(--color-m-wb);
    border-radius: 1rem;
  }
  .book_main_info .book_list > li:first-of-type::before,
  .book_main_info .book_list > li:last-of-type::before {
    margin: 1rem 0;
  }
  .book_main_info .book_list > li > strong,
  .book_main_info .book_list > li > p {
    display: block;
    text-align: center;
  }
  .book_main_info .book_info {
    display: flex;
    justify-content: center;
  }
  .book_main_info .book_info span {
    display: block;
  }

  .book_main_info .book_list > li > ul {
    padding: 0.5rem 0;
  }
  .book_main_info .book_list > li > .wh_btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .book_main_info .book_list > li:first-of-type::before,
  .book_main_info .book_list > li:last-of-type::before {
    left: 50%;
    transform: translateX(-50%);
  }

  .author .author_wrap {
    padding: 300px 0 0;
  }
  .author .author_wrap::before,
  .author .author_wrap::after {
    width: 100%;
    height: 250px;
  }

  .author .author_counter > li {
    text-align: center;
    width: calc(100% / 3);
  }
  .author .authoraddress {
    gap: 1rem;
    width: 95%;
    margin-top: 40px;
  }

  .trusted .tr_list {
    padding-top: 50px;
    gap: 1.7rem;
  }
  .trusted .tr_list li > img {
    height: 70px;
  }

  .callout .callout_wrap {
    padding: 0.8rem 0;
  }
  .callout .callout_wrap::before {
    background-size: 80%;
    background-position: right;
    top: calc(70% + 25px);
  }

  .learn .learn_list {
    gap: 0.5rem;
  }
  .learn .learn_list li {
    position: relative;
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 15px;
  }
  .learn .learn_list li > span {
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .learn .learn_list li > p {
    padding-left: 4.1rem;
    padding-top: 0;
    font-size: 1.1rem;
  }

  .chapter .chapter_list {
    gap: 0.5rem;
  }
  .chapter .chapter_list > li {
    width: 100%;
    margin-bottom: 15px;
  }
  .chapter .book_info_snd {
    display: flex;
    gap: 0;
  }
  .chapter .book_info_snd > li,
  .chapter .book_info_snd li > span {
    font-size: 0.9rem;
  }
  .chapter .book_info_snd li::before {
    width: 0.5em;
    height: 0.5rem;
    margin-right: 5px;
  }

  .testimonial .readers_list > li {
    width: 100%;
  }
  .testimonial .readers_list > li:nth-of-type(3) {
    width: 100%;
  }
  .testimonial .readers_list > li::before {
    left: 10%;
  }
  .testimonial .readers_list > li > span,
  .testimonial .readers_list > li > .score {
    padding-left: 130px;
    text-align: left;
  }

  .articleSlide .arti_card .imgs {
    height: 70vw;
  }
  .articleSlide .arti_card figcaption > span {
    display: inline-block;
    padding-left: 40%;
  }

  .subsc_warp {
    width: 100%;
    padding: 40px 0;
  }
}
